@model List<Snooping.Infraestructure.ViewModels.SnoopViewModel>

<script>
    $(function () {
        function getSorted(selector, attrName) {
            return $($(selector).toArray().sort(function (a, b) {
                var aVal = parseInt(a.getAttribute(attrName)),
                    bVal = parseInt(b.getAttribute(attrName));
                return aVal - bVal;
            }));
        }
       
        
    });
</script>
<div class="row">
    <div class="col-lg-3">
        <form role="form">
            <div class="row form-group">
                <div class="col-md-4">
                    <img src="@Html.Action("ObtenerFoto", "Profile")" alt="..." class="img-thumbnail" width="100" height="75" />
                </div>
                <div class="col-md-8">
                    <p class="help-block"><strong>@ViewBag.FullName</strong></p>
                </div>
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li>
                            <a>
                                <span>
                                    @ViewBag.Followers Seguidores
                                </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span>
                                    @ViewBag.Followed Seguidos
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label>¡Lo que más <span style="color:#01B1AF !important;">#Suena</span>!</label>

            </div>
            <div class="form-group" @*style="border-color: #01B1AF; border-style: double;"*@>
                <ul class="list-unstyled">
                    <li>
                        <span><a>#RomeoSantos</a></span> | <span><a>#Shakira</a></span>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!-- /.col-lg-6 (nested) -->
    <div class="col-lg-6" style="overflow: auto">
        <form role="form">
            <fieldset>               
                 <div class="form-group lista">
                    
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <div class="row form-group item" data-sort="@item.SnoopID">
                                <div class="col-md-1">
                                    @{
                            var img = string.Empty;

                            var bas = Convert.ToBase64String(item.Photo);
                            img = String.Format("data:image/gif;base64,{0}", bas);
                                    }
                                    <img src="@Html.Action("ObtenerFotoPorUsuario", "Profile", new {username = item.UserName})
                                         " alt=" ..." class="img-rounded" width="42" height="42">
                                </div>
                                <div class="col-md-6">
                                    <p class="help-block" style="margin-top: -3px !important;"><a><strong>@item.FullName</strong></a>@string.Format("@{0}", item.UserName)</p>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span>
                                                @Html.Raw(item.Snoop)
                                            </span>
                                        </li>
                                        @if (item.Image != null)
                                        {
                                            <li>
                                                @{
                                            var imgSrc = string.Empty;

                                            var base64 = Convert.ToBase64String(item.Image);
                                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                }
                                                <img src="@imgSrc" style="width: 100%;top: -0px;" />
                                            </li>
                                        }
                                        <li>
                                            <span class="glyphicon glyphicon-heart votos"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }

                </div>
            </fieldset>
        </form>
    </div>
    <!-- /.col-lg-6 (nested) -->
</div>
