<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Bienvenido a Snooping</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>*@
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Snoops.js"></script>
    <script src="~/Scripts/Profile.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script>
        $(function () {
            function readURL(input, elem) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(elem).attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                   // console.log(reader.readAsDataURL(input.files[0]));
                }
            }

            $("#inpImage").change(function () {
                readURL(this, '#imgShow');
            });

            $("#inpPhoto").change(function () {
                readURL(this, '#imgPhoto');
            });

            $('#btnAgregarSnoop').off('click').on('click', function () {

                var img = null;

                if (!(!$('#inpImage').val()))
                {
                   img = $('#imgShow').attr('src').split(",")[1];
                }

                var newSnoop = {
                    "Snoop": $('#Snoop').val(),
                    "Private": $('#Private').is(':checked'),
                    "Image": img
                }

                     Agregar(newSnoop);
            });

            $('#btnCambiarImagen').off('click').on('click', function () {

                var img = null;

                if (!(!$('#inpPhoto').val())) {
                    img = $('#imgPhoto').attr('src').split(",")[1];
                }

                var imagen = {
                    "Foto": img
                }

                CambiarFoto(imagen);

            });
        })
    </script>
</head>
<body>
                <div class="page-container">
                    <div class="content-wrapper">
                        <div class="float-left" style="margin-left: -292px;">
                            <p class="site-title">
                                @*<img src="~/Images/snooping.png" style="width: 27px;"/>*@ @Html.ActionLink("Snooping", "Index", "Home")
                            </p>
                        </div>
                        <div class="float-right" style="margin-right: -297px; margin-top: 4px;">
                            @*<button type="button" class="dropdown btn btn-circle" aria-label="Left Align" style=" background-image: linear-gradient(to bottom, #90C6C8 0%, #01B1AF 100%) !important;">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </button>*@
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>Configuración<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Profile", "Snoop")">Ver mi perfil</a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#modalPhoto">Cambiar mi imagen</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Ayuda</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li>
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                                }

                                            </li>
                                           
                                        </ul>
                                    </li>
                                </ul>
                                <div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Cambiar mi foto de perfil</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container" style="margin-bottom: 15px; width:100% !important; text-align: left;">
                                                    <img id="imgPhoto" class="img-rounded" style="min-height: 96px; max-height: 143px;"/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group">
                                                    <input class=" form-control" type="file" id="inpPhoto" />
                                                </div>
                                                  <button type="button" id="btnCambiarImagen" class="btn btn-primary">Cambiar</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12" style="padding-right: 2px; padding-left: 30px;">
                        <div class=" panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="home btn btn-default" aria-label="Left Align">
                                       <span class=" glyphicon glyphicon-home" aria-hidden="true"></span>
                                    </button>
                                    <a href="#"><span class="badge" style="background-color: #d9534f">42</span>Mensajes</a>
                                    <a href="#"><span class="badge" style="background-color: #F0AD4E">42</span>Notificaciones</a>
                                </div>
                                <div class="col-md-8 ">
                                    <div class="col-md-6">

                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                            <i class="glyphicon glyphicon-comment"></i>  Snoopear
                                        </button>
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">¿Qué has visto?</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <textarea class ="form-control" id="Snoop" placeholder="200 carácteres máximo..."></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="form-group">

                                                            <input class=" form-control" type="file" id="inpImage" />
                                                        </div>
                                                        <div class="container" style="margin-bottom: 15px; width:100% !important; text-align: left;">
                                                            <img id="imgShow" style="max-height: 46px; max-width: 66px;" class="img-rounded"/>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6" style="text-align:left !important">
                                                                <span>
                                                                    ¿Hacer este Snoob público? <input type="checkbox" id="Private" name="Private"> 
                                                                </span>
                                                            </div>
                                                        <div class="col-md-6">
                                                            <button type="button" id="btnAgregarSnoop" class="btn btn-primary">Snoopear</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-body">
                            @RenderBody();
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/sb-admin-2.js"></script>

</body>

</html>


